<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Leafing.Settings" type="Leafing.Core.Setting.NameValueSectionHandler, Leafing.Core"/>
	</configSections>

	<Leafing.Settings>
		<add key="DataBase" value="@SqlServer2000 : data source=LLF\SQLEXPRESS;initial catalog=llf_sql_test;user id=sa;password=123"/>
	</Leafing.Settings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
