/DataBase/Entry/bin
/DataBase/Entry/obj
/DataBase/Enum/obj
/DataBase/Enum/bin
/DataBase/StoredProcedure/obj
/DataBase/StoredProcedure/bin
/Remoting/Client/obj
/Remoting/Client/bin
/Remoting/Common/obj
/Remoting/Common/bin
/Remoting/Server/obj
/Remoting/Server/bin
/Util/TimingTask/obj
/Util/TimingTask/bin
/Orm/01/obj
/Orm/01/bin
/Orm/02/obj
/Orm/02/bin
/Orm/03/obj
/Orm/03/bin
/Orm/04/obj
/Orm/04/bin
/Orm/05/obj
/Orm/05/bin
/Orm/06/obj
/Orm/06/bin
/Orm/07/obj
/Orm/07/bin
/Orm/08/obj
/Orm/08/bin
/Orm/09/obj
/Orm/09/bin
/Orm/10/obj
/Orm/10/bin
/Orm/11/obj
/Orm/11/bin
/Orm/12/obj
/Orm/12/bin
/Orm/13/obj
/Orm/13/bin
/Orm/Common/obj
/Orm/Common/bin
/Orm/InitDatabase/obj
/Orm/InitDatabase/bin
/Orm/vb/obj
/Orm/vb/bin
/Bin/*.exe
/Bin/*.config
/Bin/*.dll
