<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Leafing.Settings" type="Leafing.Core.Setting.NameValueSectionHandler, Leafing.Core"/>
	</configSections>

	<Leafing.Settings>
		<add key="DataBase" value="@Access : @~test.mdb"/>
		<add key="1.DataBase" value="@Excel : @~test.xls"/>
	</Leafing.Settings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
